
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F8FF;
}

section {
    margin-top: 116px !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}


:root {
    --text-color-primary: #252432;
    --text-mute: rgba(37, 36, 50, 0.5);
    --accent-color: #4E47FF;
    --bg-secondary: rgba(78, 71, 255, 0.1);
    --bg-light: #FFFFFF;
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

.btn-primary {
    padding: 12px 36px;
    background: var(--accent-color);
    color: var(--bg-light);
    border: var(--accent-color) solid 2px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-primary);
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: linear .3s;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}

.btn-primary:hover {
    background: transparent;
    color: var(--accent-color);
}

.sec-title {
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    font-size: 38px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-mute {
    color: var(--text-mute);
}

/* header start */

header {
    background: url(../Assets/Hero-bg.png);
    height: 100dvh;
    background-size: contain;
    padding-top: 50px;
}

/* nav section start */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-size: 34px;
    font-weight: 900;
}

/* nav section end */

/* banner section start */
.banner {
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 37px;
}

.banner h1 {
    font-family: var(--font-primary);
    font-size: 65px;
    font-weight: 700;
    color: var(--text-color-primary);
    max-width: 900px;
    text-align: center  ;
}
/* banner section end */

/* header end */


/* action section start */

.action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.action-content {
    max-width: 517px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: flex-start;
}

.action-content p {
    font-family: var(--font-primary);
    font-size: 24px;
    color: var(--text-mute);
}

.action-img img {
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}
/* action section end */


/* productive users section start */
.productive-users {
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.user-count-wrapper {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.user-count h1 {
    font-family: var(--font-secondary);
    font-size: 80px;
    font-weight: 700;
    color: var(--accent-color);
}

.user-count p {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-mute);
}


/* productive users section end */

/* feedback section start */


.user-feedback-card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--font-primary);
    margin-top: 50px;
}

.user-feedback-card {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    width: 366px;
    height: 243px;
    padding: 24px;
    background-color: var(--bg-light);
    border: #F2EDED solid 1px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.user-review {
    margin-bottom: 24px;
}

.user-review img {
    max-width: 100%;
}

.user-feedback-card h5 {
    font-size: 24px;
    margin-bottom: 8px;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 24px;
}

.user-info img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* feedback section end */

/* focus section start */
.focus {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primary);
    padding: 71px;
    background: var(--bg-light);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.focus img {
    width: 100%;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}
/* focus section end */


/* get in touch section start */

.get-in-touch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-secondary);
    flex-wrap: wrap;
    padding: 71px 0;
}

.get-in-touch h1 {
    max-width: 528px;
    font-size: 97px;
    font-weight: 700;
    font-family: var(--font-primary);
}

.form-wrapper {
    width: 500px;
}

.form-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form-wrapper form label {
    color: var(--text-color-primary);
    font-family: var(--font-secondary);
}

.form-wrapper form input, textarea {
    padding: 20px 32px;
    background: var(--bg-light);
    border: #D6DDED solid 1px;
    margin-top: 10px;
    margin-bottom: 19px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-wrapper form textarea {
    height: 135px;
    font-family: var(--font-secondary);
}

.form-wrapper form input::placeholder {
    color: var(--text-mute);
    font-family: var(--font-secondary);
}

/* get in touch section end */

/* footer seciton start */

footer {
    background: var(--bg-light);
    height: 428px;
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.footer-logo {
    font-family: var(--font-secondary);
    font-size: 100px;
    font-weight: 900;
    color: var(--accent-color);
}

.footer-description {
    color: var(--text-mute);
    margin-top: 8px;
    margin-bottom: 20px;
    max-width: 530px;
}

.footer-links ul {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.footer-links ul li {
    list-style: none;
}


.footer-links ul li a {
    color: var(--text-mute);
    transition: linear .3s;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}

.footer-links ul li a:hover {
    color: var(--accent-color);
}
/* footer seciton end */