
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F8FF;
}

section {
    margin-top: 116px !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}


:root {
    --text-color-primary: #252432;
    --text-mute: rgba(37, 36, 50, 0.5);
    --accent-color: #4E47FF;
    --bg-secondary: rgba(78, 71, 255, 0.1);
    --bg-light: #FFFFFF;
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

.btn-primary {
    padding: 12px 36px;
    background: var(--accent-color);
    color: var(--bg-light);
    border: var(--accent-color) solid 2px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-primary);
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: linear .3s;
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
}

.btn-primary:hover {
    background: transparent;
    color: var(--accent-color);
}

.sec-title {
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    font-size: 38px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

/* header start */

header {
    background: url(../Assets/Hero-bg.png);
    height: 100dvh;
    background-size: contain;
    padding-top: 50px;
}

/* nav section start */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-size: 34px;
    font-weight: 900;
}

/* nav section end */

/* banner section start */
.banner {
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 37px;
}

.banner h1 {
    font-family: var(--font-primary);
    font-size: 65px;
    font-weight: 700;
    color: var(--text-color-primary);
    max-width: 900px;
    text-align: center  ;
}
/* banner section end */

/* header end */


/* action section start */

.action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.action-content {
    max-width: 517px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: center;
    align-items: flex-start;
}

.action-content p {
    font-family: var(--font-primary);
    font-size: 24px;
    color: var(--text-mute);
}

.action-img img {
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}
/* action section end */


/* productive users section start */
.productive-users {
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.user-count-wrapper {
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.user-count h1 {
    font-family: var(--font-secondary);
    font-size: 80px;
    font-weight: 700;
    color: var(--accent-color);
}

.user-count p {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--text-mute);
}


/* productive users section end */